body{
font-family: Arial;
text-align: center;
background: lightblue;
}

.container{
margin-top:100px;
}

.snow{
background:#0f2027;
color:white;
}

.sun{
background:orange;
}

.rain{
background:gray;
color:white;
}
